body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .left-box,
  .right-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  
  .content {
    width: 80%;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    color: #0055FF;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #0055FF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0033CC;
  }
  
  p.register-link {
    text-align: center;
    margin-top: 20px;
    color: #333333;
  }
  
  p.register-link a {
    color: #0055FF;
    text-decoration: none;
  }
  
  p.register-link a:hover {
    text-decoration: underline;
  }
  
  .image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  
  .image-box img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 20px;
  }
  
  @media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .left-box,
    .right-box {
      width: 100%;
    }
  }
  