<!DOCTYPE html>
<html>
<head>
  <title>MI PÁGINA</title>
  <link rel="stylesheet" type="text/css" href="static/principal/styles.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <div class="container">
    <header>
      <nav>
        <ul>
          <li><a href="#" onclick="openTab(event, 'inicio')">Inicio</a></li>
          <li><a href="#" onclick="openTab(event, 'perfil-familia')">Perfil y Familia</a></li>
          <li><a href="#" onclick="openTab(event, 'administrar')">Administrar</a></li>
        </ul>
      </nav>
    </header>
    
    <div class="tabcontent" id="inicio">
      <h2>Dispositivos</h2>
      <div class="appliance">
        <h3>Televisor</h3>
        <label class="switch">
          <input type="checkbox" onchange="togglePower(event,'foco')">
          <span class="slider"></span>
        </label>
      </div>
      <div class="appliance">
        <h3>Lámpara</h3>
        <label class="switch">
          <input type="checkbox" onchange="togglePower(event,'puerta')">
          <span class="slider"></span>
        </label>
      </div>
      <div class="appliance">
        <h3>Ventilador</h3>
        <label class="switch">
          <input type="checkbox" onchange="togglePower(event,'foco')">
          <span class="slider"></span>
        </label>
      </div>
      <div class="appliance">
        <h3>Puerta</h3>
        <label class="switch">
          <input type="checkbox" onchange="togglePower(event,'foco')">
          <span class="slider"></span>
        </label>
      </div>
      <div class="appliance">
        <h3>Foco</h3>
        <label class="switch">
          <input type="checkbox" onchange="togglePower(event,'foco')">
          <span class="slider"></span>
        </label>
      </div>
    </div>

    <div class="tabcontent" id="perfil-familia">
      <h2>Perfil y Familia</h2>
      <p>Aquí va el contenido de la pestaña "Perfil y Familia".</p>
    </div>

    <div class="tabcontent" id="administrar">
      <h2>Administrar</h2>
      <h3>Lista de Aparatos</h3>
      <ul>
        <h3>
          <strong>Televisor:</strong>
          <button onclick="encenderAparato('televisor')" class="button-64"><span class="text">Encender</span></button>
          <button onclick="apagarAparato('televisor')" class="button-64"><span class="text">Apagar</span></button>
          <button onclick="editarAparato('televisor')" class="button-64"><span class="text">Editar</span></button>
        </h3>
        <h3>
          <strong>Aire Acondicionado:</strong>
          <button onclick="encenderAparato('aire-acondicionado')" class="button-64"><span class="text">Encender</span></button>
          <button onclick="apagarAparato('aire-acondicionado')" class="button-64"><span class="text">Apagar</span></button>
          <button onclick="editarAparato('aire-acondicionado')" class="button-64"><span class="text">Editar</span></button>
        </h3>
        <h3>
          <strong>Puerta:</strong>
          <button onclick="encenderAparato('Puerta')" class="button-64"><span class="text">Abrir</span></button>
          <button onclick="apagarAparato('Puerta')" class="button-64"><span class="text">Cerrar</span></button>
          <button onclick="editarAparato('Puerta')" class="button-64"><span class="text">Editar</span></button>
        </h3>
      </ul>
    </div>
  </div>

  <script src="static/principal/script.js"></script>
</body>
</html>
