<!DOCTYPE html>
<html>
<head>
  <title>MI PÁGINA</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <div class="container">
    <header>
      <nav>
        <ul>
          <li><a href="#" onclick="openTab(event, 'inicio')">Inicio</a></li>
          <li><a href="#" onclick="openTab(event, 'perfil-familia')">Perfil y Familia</a></li>
          <li><a href="#" onclick="openTab(event, 'administrar')">Administrar</a></li>
        </ul>
      </nav>
    </header>

    <div class="tabcontent" id="inicio">
      <h2>Inicio</h2>
      <div class="appliance">
        <h3>Televisor</h3>
        <label class="switch">
          <input type="checkbox" onchange="togglePower(event,'foco')">
          <span class="slider"></span>
        </label>
      </div>
      <div class="appliance">
        <h3>Lámpara</h3>
        <label class="switch">
          <input type="checkbox" onchange="togglePower(event,'puerta')">
          <span class="slider"></span>
        </label>
      </div>
    </div>

    <div class="tabcontent" id="perfil-familia">
      <h2>Perfil y Familia</h2>
      <p>Aquí va el contenido de la pestaña "Perfil y Familia".</p>
    </div>

    <div class="tabcontent" id="administrar">
      <h2>Administrar</h2>
      <h3>Lista de Aparatos</h3>
      <ul>
        <li>
          <strong>Televisor:</strong>
          <button onclick="encenderAparato('televisor')">Encender</button>
          <button onclick="apagarAparato('televisor')">Apagar</button>
          <button onclick="editarAparato('televisor')">Editar</button>
        </li>
        <li>
          <strong>Aire Acondicionado:</strong>
          <button onclick="encenderAparato('aire-acondicionado')">Encender</button>
          <button onclick="apagarAparato('aire-acondicionado')">Apagar</button>
          <button onclick="editarAparato('aire-acondicionado')">Editar</button>
        </li>
      </ul>
    </div>
  </div>

  <script src="static/principal/script.js"></script>
</body>
</html>
